<div class="col-lg-9 col-md-8 col-sm-12">
  <div class="row separacionResponsiva">
    <div class="col-lg-6">
      <div class="card">
        <img class="card-img-top" src="{{autor.foto}}" alt="{{autor.apellido}} {{autor.nombre}}">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{autor.apellido}} {{autor.nombre}}</h5>
          <a href="{{autor.web}}" target="_blank" class="card-link">{{autor.web}}</a>
          <p class="card-text">{{autor.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
